.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter {
  border: 2px solid grey;
  padding: 50px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 20px;
  border-radius: 50%;
  border: none;
  background: plum;
  font-size: 30px;
  cursor: pointer;
}
